In [2]:
#Stage 1 : Irfan data profiling using df_vax_demog_age
#update 7/12/2022

In [3]:
import pandas as pd
import seaborn as sns
sns.set(color_codes=True)
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime, date
import os, sys

In [25]:
#importing vaccination data  using demog-age data and review raw data
#df_vax_demog_age =pd.read_csv ("https://raw.githubusercontent.com/mdirfan76/covid19-public/main/vaccination/vax_demog_age.csv")
#fork from github from 9122022
df1=pd.read_csv("C:\\Users\\Irfan\\Desktop\\vax_demog_age.91222.csv")

In [26]:
df1=df_vax_demog_age

In [27]:
# STEP 1 : REVIEW RAW DATA 
df1

,date,state,district,partial_5_11,full_5_11,booster_5_11,booster2_5_11,partial_12_17,full_12_17,booster_12_17,...,booster_70_79,booster2_70_79,partial_80,full_80,booster_80,booster2_80,partial_missing,full_missing,booster_missing,booster2_missing
0,2021-02-24,Johor,Batu Pahat,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021-02-24,Johor,Johor Bahru,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2021-02-24,Johor,Kluang,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2021-02-24,Johor,Kota Tinggi,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2021-02-24,Johor,Kulai,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102063,2022-12-01,Terengganu,Marang,0,0,0,0,0,0,0,...,0,0,0,0,0,0,42,0,0,0
102064,2022-12-01,Terengganu,Setiu,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102065,2022-12-01,W.P. Kuala Lumpur,Kuala Lumpur,5,7,0,0,0,1,4,...,1,7,1,0,0,0,30,4,9,13
102066,2022-12-01,W.P. Labuan,Labuan,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102067,2022-12-01,W.P. Putrajaya,Putrajaya,0,0,0,0,0,0,11,...,0,1,0,0,0,1,0,0,0,0

In [9]:
#STEP 2 : TO REVIEW DIMENSIONS OF OUR DATASET
df1.shape

(102068, 43)

In [10]:
# STEP 3 : REVIEW DATA ATTRIBUTES IN OUR DATA
df1.info()
# TO IDENTIFY DATA TYPE, PLAN TO CHANGE DATE TO DATETIME FORMAT

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102068 entries, 0 to 102067
Data columns (total 43 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              102068 non-null  object
 1   state             102068 non-null  object
 2   district          102068 non-null  object
 3   partial_5_11      102068 non-null  int64
 4   full_5_11         102068 non-null  int64
 5   booster_5_11      102068 non-null  int64
 6   booster2_5_11     102068 non-null  int64
 7   partial_12_17     102068 non-null  int64
 8   full_12_17        102068 non-null  int64
 9   booster_12_17     102068 non-null  int64
 10  booster2_12_17    102068 non-null  int64
 11  partial_18_29     102068 non-null  int64
 12  full_18_29        102068 non-null  int64
 13  booster_18_29     102068 non-null  int64
 14  booster2_18_29    102068 non-null  int64
 15  partial_30_39     102068 non-null  int64
 16  full_30_39        102068 non-null  int64
 17  booster_30_39     102068 non-null  int64
 18  booster2_30_39    102068 non-null  int64
 19  partial_40_49     102068 non-null  int64
 20  full_40_49        102068 non-null  int64
 21  booster_40_49     102068 non-null  int64
 22  booster2_40_49    102068 non-null  int64
 23  partial_50_59     102068 non-null  int64
 24  full_50_59        102068 non-null  int64
 25  booster_50_59     102068 non-null  int64
 26  booster2_50_59    102068 non-null  int64
 27  partial_60_69     102068 non-null  int64
 28  full_60_69        102068 non-null  int64
 29  booster_60_69     102068 non-null  int64
 30  booster2_60_69    102068 non-null  int64
 31  partial_70_79     102068 non-null  int64
 32  full_70_79        102068 non-null  int64
 33  booster_70_79     102068 non-null  int64
 34  booster2_70_79    102068 non-null  int64
 35  partial_80        102068 non-null  int64
 36  full_80           102068 non-null  int64
 37  booster_80        102068 non-null  int64
 38  booster2_80       102068 non-null  int64
 39  partial_missing   102068 non-null  int64
 40  full_missing      102068 non-null  int64
 41  booster_missing   102068 non-null  int64
 42  booster2_missing  102068 non-null  int64
dtypes: int64(40), object(3)
memory usage: 33.5+ MB

In [11]:
# STEP 5 SUMMARIZE DATA USING DESCRIPTIVE STATISTICS
df1.describe()

,partial_5_11,full_5_11,booster_5_11,booster2_5_11,partial_12_17,full_12_17,booster_12_17,booster2_12_17,partial_18_29,full_18_29,...,booster_70_79,booster2_70_79,partial_80,full_80,booster_80,booster2_80,partial_missing,full_missing,booster_missing,booster2_missing
count,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000,...,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000
mean,17.372467,15.083150,0.017322,0.000029,28.724782,27.995650,0.472606,0.003400,66.388496,65.789924,...,7.215758,0.633597,3.161216,3.123036,2.162656,0.200268,8.873094,7.891876,5.900988,0.152467
std,144.991502,113.721903,0.542341,0.006999,246.402198,242.661503,2.857840,0.067701,487.305167,471.756601,...,62.036300,6.448374,25.114769,24.232581,22.884938,2.108139,59.943262,56.995423,45.485107,1.865802
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000,0.000000,0.000000,4.000000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,10252.000000,5730.000000,58.000000,2.000000,11436.000000,10509.000000,228.000000,3.000000,23955.000000,23561.000000,...,5035.000000,486.000000,1603.000000,1551.000000,2925.000000,133.000000,3401.000000,3227.000000,2886.000000,170.000000

In [12]:
#to check missing value
df1.isnull().sum()
df1.isna().sum()

date                0
state               0
district            0
partial_5_11        0
full_5_11           0
booster_5_11        0
booster2_5_11       0
partial_12_17       0
full_12_17          0
booster_12_17       0
booster2_12_17      0
partial_18_29       0
full_18_29          0
booster_18_29       0
booster2_18_29      0
partial_30_39       0
full_30_39          0
booster_30_39       0
booster2_30_39      0
partial_40_49       0
full_40_49          0
booster_40_49       0
booster2_40_49      0
partial_50_59       0
full_50_59          0
booster_50_59       0
booster2_50_59      0
partial_60_69       0
full_60_69          0
booster_60_69       0
booster2_60_69      0
partial_70_79       0
full_70_79          0
booster_70_79       0
booster2_70_79      0
partial_80          0
full_80             0
booster_80          0
booster2_80         0
partial_missing     0
full_missing        0
booster_missing     0
booster2_missing    0
dtype: int64

In [12]:
# check duplicate based on all columns
df1.duplicated().sum()

0

In [13]:
#Stage 2 : Transform data ti datetime series 
#update 7/12/2022

In [15]:
# to change date to datetime format
df1['date']=pd.to_datetime(df1['date'], yearfirst=True)

In [13]:
df1.info()
# we identify that date already change to datetime format

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102068 entries, 0 to 102067
Data columns (total 43 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              102068 non-null  object
 1   state             102068 non-null  object
 2   district          102068 non-null  object
 3   partial_5_11      102068 non-null  int64
 4   full_5_11         102068 non-null  int64
 5   booster_5_11      102068 non-null  int64
 6   booster2_5_11     102068 non-null  int64
 7   partial_12_17     102068 non-null  int64
 8   full_12_17        102068 non-null  int64
 9   booster_12_17     102068 non-null  int64
 10  booster2_12_17    102068 non-null  int64
 11  partial_18_29     102068 non-null  int64
 12  full_18_29        102068 non-null  int64
 13  booster_18_29     102068 non-null  int64
 14  booster2_18_29    102068 non-null  int64
 15  partial_30_39     102068 non-null  int64
 16  full_30_39        102068 non-null  int64
 17  booster_30_39     102068 non-null  int64
 18  booster2_30_39    102068 non-null  int64
 19  partial_40_49     102068 non-null  int64
 20  full_40_49        102068 non-null  int64
 21  booster_40_49     102068 non-null  int64
 22  booster2_40_49    102068 non-null  int64
 23  partial_50_59     102068 non-null  int64
 24  full_50_59        102068 non-null  int64
 25  booster_50_59     102068 non-null  int64
 26  booster2_50_59    102068 non-null  int64
 27  partial_60_69     102068 non-null  int64
 28  full_60_69        102068 non-null  int64
 29  booster_60_69     102068 non-null  int64
 30  booster2_60_69    102068 non-null  int64
 31  partial_70_79     102068 non-null  int64
 32  full_70_79        102068 non-null  int64
 33  booster_70_79     102068 non-null  int64
 34  booster2_70_79    102068 non-null  int64
 35  partial_80        102068 non-null  int64
 36  full_80           102068 non-null  int64
 37  booster_80        102068 non-null  int64
 38  booster2_80       102068 non-null  int64
 39  partial_missing   102068 non-null  int64
 40  full_missing      102068 non-null  int64
 41  booster_missing   102068 non-null  int64
 42  booster2_missing  102068 non-null  int64
dtypes: int64(40), object(3)
memory usage: 33.5+ MB

In [14]:
df2 = df1[["date",'state','full_5_11','booster_5_11','full_12_17','booster_12_17','full_60_69','booster_60_69','full_70_79','booster_70_79','full_80','booster_80']]

In [15]:
df2

,date,state,full_5_11,booster_5_11,full_12_17,booster_12_17,full_60_69,booster_60_69,full_70_79,booster_70_79,full_80,booster_80
0,2021-02-24,Johor,0,0,0,0,0,0,0,0,0,0
1,2021-02-24,Johor,0,0,0,0,0,0,0,0,0,0
2,2021-02-24,Johor,0,0,0,0,0,0,0,0,0,0
3,2021-02-24,Johor,0,0,0,0,0,0,0,0,0,0
4,2021-02-24,Johor,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
102063,2022-12-01,Terengganu,0,0,0,0,0,0,0,0,0,0
102064,2022-12-01,Terengganu,0,0,0,0,0,0,0,0,0,0
102065,2022-12-01,W.P. Kuala Lumpur,7,0,1,4,0,1,0,1,0,0
102066,2022-12-01,W.P. Labuan,0,0,0,0,0,0,0,0,0,0
102067,2022-12-01,W.P. Putrajaya,0,0,0,11,0,0,0,0,0,0

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102068 entries, 0 to 102067
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date           102068 non-null  object
 1   state          102068 non-null  object
 2   full_5_11      102068 non-null  int64
 3   booster_5_11   102068 non-null  int64
 4   full_12_17     102068 non-null  int64
 5   booster_12_17  102068 non-null  int64
 6   full_60_69     102068 non-null  int64
 7   booster_60_69  102068 non-null  int64
 8   full_70_79     102068 non-null  int64
 9   booster_70_79  102068 non-null  int64
 10  full_80        102068 non-null  int64
 11  booster_80     102068 non-null  int64
dtypes: int64(10), object(2)
memory usage: 9.3+ MB

In [17]:
df2.sum()

date             2021-02-242021-02-242021-02-242021-02-242021-0...
state            JohorJohorJohorJohorJohorJohorJohorJohorJohorJ...
full_5_11                                                  1539507
booster_5_11                                                  1768
full_12_17                                                 2857460
booster_12_17                                                48238
full_60_69                                                 2139577
booster_60_69                                              1648833
full_70_79                                                  971034
booster_70_79                                               736498
full_80                                                     318762
booster_80                                                  220738
dtype: object

In [18]:
df2.describe()

,full_5_11,booster_5_11,full_12_17,booster_12_17,full_60_69,booster_60_69,full_70_79,booster_70_79,full_80,booster_80
count,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000,102068.000000
mean,15.083150,0.017322,27.995650,0.472606,20.962270,16.154260,9.513599,7.215758,3.123036,2.162656
std,113.721903,0.542341,242.661503,2.857840,150.298329,135.519512,67.827429,62.036300,24.232581,22.884938
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,2.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,5730.000000,58.000000,10509.000000,228.000000,8682.000000,9033.000000,3945.000000,5035.000000,1551.000000,2925.000000